.experience-container {
  padding: 3rem;
  background-color: var(--primary-black-color);
  width: 100%;
  /* height: 70vh; */
}

.experience-header {
  margin-top: 2rem;
  color: var(--primary-white-color);
  font-family: "Sora", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 200;
}

.experience-header span {
  font-weight: 600;
}

.experience-cards-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.experience-card {
  width: 80%;
  border: 1px solid var(--primary-white-color);
  padding: 1rem;
  border-radius: 5px;
}

.present {
  background-color: var(--secondary-black-color);
}
.company-logo {
  width: 6rem;
  margin: 0;
}

.experience-info {
  color: var(--primary-white-color);
  font-family: "Sora", sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.duration {
  color: var(--primary-white-color);
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.experience-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-description {
  margin-top: 1rem;
  color: var(--primary-white-color);
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* For large desktop screens (Windows, macOS, etc.) */
@media (min-width: 1281px) and (max-width: 1440px) {
  .skills-container {
    grid-template-columns: repeat(
      6,
      1fr
    ); /* 6 equal columns for large screens */
    gap: 2rem;
  }
}

/* 
    ##Device = Ultra-Wide Monitors, 2K Screens
    ##Screen = B/w 1441px to 1920px
  */
/* For Ultra-wide monitors (Windows, macOS, etc.) */
@media (min-width: 1441px) and (max-width: 1920px) {
  .skills-container {
    grid-template-columns: repeat(
      7,
      1fr
    ); /* 7 equal columns for even larger screens */
    gap: 2.5rem;
  }
}

/* 
    ##Device = Ultra-Wide Monitors, 4K Screens
    ##Screen = B/w 1921px and beyond
  */
/* For 4K screens (Windows, macOS, etc.) */
@media (min-width: 1921px) {
  .skills-container {
    grid-template-columns: repeat(8, 1fr); /* 8 equal columns for 4K screens */
    gap: 3rem;
  }
}

/* 
    ##Device = Standard Desktops, Laptops
    ##Screen = B/w 1025px to 1280px
  */
/* For standard desktop or laptop screens (Windows, macOS) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 2rem;
  }
}

/* 
    ##Device = Tablets, iPads (portrait)
    ##Screen = B/w 768px to 1024px
  */
/* For tablets in portrait mode (iPad, Android tablets, etc.) */
@media (min-width: 768px) and (max-width: 1024px) {
  .experience-info,
  .experience-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experience-card {
    width: 100%;
    margin: 0 2rem;
  }

  .experience-container {
    padding: 1rem;
    background-color: var(--primary-black-color);
    width: 100%;
    /* height: 70vh; */
  }

  .experience-description {
    margin-top: 1rem;
    text-align: center;
  }
}

/* 
    ##Device = Tablets, iPads (landscape)
    ##Screen = B/w 768px to 1024px
  */
/* For tablets in landscape mode */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
/* For smartphones and low-resolution tablets in landscape mode (Windows Mobile, Android phones, iPhone, etc.) */
@media (min-width: 481px) and (max-width: 767px) {
  .experience-info,
  .experience-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experience-card {
    width: 100%;
  }

  .experience-container {
    padding: 1rem;
    background-color: var(--primary-black-color);
    width: 100%;
    /* height: 70vh; */
  }

  .experience-description {
    margin-top: 1rem;
    text-align: center;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
/* For smartphones in portrait mode (iPhone, Android, etc.) */
@media (min-width: 320px) and (max-width: 480px) {
  .experience-info,
  .experience-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experience-card {
    width: 100%;
  }

  .experience-container {
    padding: 1rem;
    background-color: var(--primary-black-color);
    width: 100%;
    /* height: 70vh; */
  }

  .experience-description {
    margin-top: 1rem;
    text-align: center;
  }
}

/* 
    ##Device = Very Small Screens (e.g., smaller devices, smartwatches)
    ##Screen = B/w 280px to 319px
  */
/* For very small screens, e.g., smaller smartphones */
@media (min-width: 280px) and (max-width: 319px) {
  .skills-container {
    grid-template-columns: 1fr; /* 1 column layout for small devices */
    gap: 1rem;
  }

  .skill {
    width: 5rem;
    height: 5rem;
  }

  .skill i {
    font-size: 1.2rem;
  }

  .skill span {
    font-size: 0.4rem;
  }
}

/* 
    ##Device = Large Windows/Mac Monitors 
    ##Screen = B/w 1281px to 1440px
  */
/* Specific for wide screen monitors (MacOS/Windows) */
@media (min-width: 1281px) and (max-width: 1440px) {
  .skills-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
  }
}

/* 
    ##Device = Small desktop resolution (macOS / Windows desktops)
    ##Screen = 1025px to 1280px 
  */
@media (min-width: 1025px) and (max-width: 1280px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
