/* AboutMe.css */

.about-me-section {
    margin-top:2rem;
    background-color: #ffffff;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.about-me-text {
    flex: 1;
    max-width: 600px;
}

.greeting-text {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: bold;
}

.name {
    color: #000;
}

.position {
    font-weight: bold;
}

.developer {
    font-weight: bold;
    background: #fff;
    border: 3px solid #000;
    padding: 0 5px;
    display: inline-block;
    border-radius: 5px;
}

.intro-text {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.github-button {
    display: inline-flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.github-button i {
    margin-right: 8px;
    font-size: 1.2rem;
}

.github-button:hover {
    background-color: #555;
}

.about-me-illustration {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* For smartphones in portrait mode (320px to 480px) */
@media (min-width: 320px) and (max-width: 480px) {

    
}

/* For smartphones and low-resolution tablets in landscape mode (481px to 767px) */
@media (min-width: 481px) and (max-width: 767px) {}

/* For tablets in portrait mode (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {}

/* For tablets in landscape mode (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* For standard desktop or laptop screens (1025px to 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* For large desktop screens (1281px to 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* For wide screen monitors (1281px to 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* For Ultra-wide monitors (1441px to 1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {}

/* For 4K screens (1921px and beyond) */
@media (min-width: 1921px) {}

